<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>인절미 BS | 관광지 정보</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section listings">
        <div class="container-fluid">
            <div class="logo">
                <a href="./index.html"><img src="img/logo.png" alt=""></a>
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li>
                        <a href="index.html">홈</a>
                    </li>
                    <!-- <li> <a href="how-it-works.html">Explore</a> </li> -->
                    <li class="active">
                        <a href="listings.html">관광지</a>
                    </li>
                    <!-- <li> <a href="blog.html">News</a> </li> -->
                    <li>
                        <a href="contact.html">문의</a>
                    </li>
                </ul>
            </nav>
            <div class="header-right">
                <div class="user-access">
                    <a href="./Register/Login.html" class="primary-btn">로그인</a>
                </div>
                <!-- <a href="#" class="primary-btn">Add Listing</a> -->
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <div class="hero-listing set-bg" data-setbg="img/hero_listing.jpg">
    </div>
    <!-- Hero Section End -->

    <!-- About Secton Begin -->
    <section class="about-section">
        <div class="intro-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="about-intro">
                            <div class="rating">4.5</div>
                            <div class="intro-text">
                                <h2>에버랜드</h2>
                                <p>환상의 나라 에버랜드로 놀러오세요!</p>
                                <div class="open">운영 중</div>
                                <div class="closed">운영 마감</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="about-left">
                            <div class="about-desc">
                                <h4>마법이 걸린 산 속,<br>영원한 땅에 살고 있는 에버랜더들이 꿈꾸는 세상</h4>
                                <p>마음속에 품고 있는 "소중한 가치"를 모두 담아 함께 나눌 행복이 머무는 곳, 그 곳이 바로 에버랜드입니다.</p>
                                <p>에버랜드는 글로벌 페어, 아메리칸 어드벤처, 매직랜드, 유러피언 어드벤처, 주토피아로 구분되어 5개의 행복한 공간으로 구성되어 있습니다.</p>
                                <p>각각 테마존별의 특징을 알아볼까요?</p>
                            </div>
                            <div class="about-video">
                                <img src="img/에버랜드456.jpg" alt="">
                            </div>
                            <div class="client-reviews">
                                <h3>리뷰</h3>
                                <div class="reviews-item">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>“꼭 가라. 두 번 가라”</h5>
                                    <p>아~ T익스프레스 마려워~~</p>
                                    <div class="client-text">
                                        <h5>김태윤</h5>
                                        <span>2019년 11월 16일</span>
                                    </div>
                                </div>
                                <div class="reviews-item">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <h5>“묻고 더블로 가!”</h5>
                                    <p>마포대교는 무너졌니~</p>
                                    <div class="client-text">
                                        <h5>이윤우</h5>
                                        <span>2019년 10월 25일</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="about-right">
                            <div class="contact-info">
                                <div class="map">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5655.493669953989!2d127.20037446915745!3d37.29376644208718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b5403ce34d773%3A0x1fa18ab619238098!2z7JeQ67KE656c65Oc!5e0!3m2!1sko!2skr!4v1573902925122!5m2!1sko!2skr"
                                        width="400"
                                        height="300"
                                        frameborder="0"
                                        style="border:0;"
                                        allowfullscreen=""></iframe>
                                </iframe>
                            </div>
                            <div class="contact-text">
                                <span>경기 용인시 처인구 포곡읍 에버랜드로 199</span>
                                <ul>
                                    <li>031-320-5000</li>
                                    <li>매일 10:00 - 21:00</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="intro-share">
                        <div class="share-btn">
                                <a href="#">리뷰 작성</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- About Secton End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section spad">
        <div class="container">
            <!-- <div class="row"> <div class="col-lg-12"> <form action="#"
            class="newslatter-form"> <input type="text" placeholder="Your email address">
            <button type="submit">Subscribe to our Newsletter</button> </form> </div> </div>
            -->
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>사이트 맵</h4>
                        <ul>
                            <li>홈</li>
                            <li>관광지</li>
                            <li>문의</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <h4>카테고리</h4>
                        <ul>
                            <li>전체</li>
                            <li>자연</li>
                            <li>문화관광</li>
                            <li>테마관광지</li>
                            <li>도보</li>
                            <li>레저/체험</li>>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>